ul {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  text-align: center;
}

li{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  display: inline;
  padding: 25px;
}